body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    #outline: 2px solid black;
}

.form-container {
    display: flex;
    align-items: center; /* Alinear verticalmente */
    justify-content: center; /* Centrar en la página */
    gap: 20px; /* Espacio entre la imagen y el contador */
    #outline: 2px solid black;
}

.map-container img {
    max-width: 100%;
    height: auto;
    #outline: 2px solid black;
}

.parameters-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    #outline: 2px solid black;
}

input[type="number"] {
    width: 80px;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    border: 2px solid #000000;
}

fieldset {
    border: none;
    padding: 10px;
    width: max-content;
    text-align: center;
    margin: auto;
}

.inputs-container {
    display: flex;
    gap: 20px; /* Espacio entre los inputs */
    justify-content: center; /* Centra los elementos horizontalmente */
    #outline: 2px solid black;
}

.input-group {
    display: flex;
    flex-direction: column; /* Pone el label encima del input */
    align-items: center; /* Centra el contenido dentro del grupo */
    #outline: 2px solid black;
}

input[type="button"] {
    background: linear-gradient(45deg, #6c757d, #495057);
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
input[type="button"]:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
input[type="button"]:active {
    transform: scale(0.98);
}

select {
    width: 120px;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: white;
    color: #000000;
    cursor: pointer;
    transition: all 0.3s ease;
}

#DA_container {
    display: none;
}

#Grad_pend_container {
    display: none;
}

#magnitude_container {
    display: none;
}

#depth_container {
    display: none;
}

h1 {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    text-align: center;
    letter-spacing: 1px;
    font-family: Arial, sans-serif;
    margin: 10px 0;
}

.floor-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.floor-parameters-wrapper {
    display: flex;
    gap: 20px;
}

.button-container {
    margin-top: 20px;
}

label{
    margin-top: 5px;
}